/*  your css code here. If applicable */
body{
	padding:20px;
	background-color:#f5f5f5;
}
.testimonial{
	padding:5px;
	border:1px solid lightgray;
	background-color:white;
	margin-bottom:15px;
}
.text{
	padding:5px;
	font-family:arial;
	font-size:4mm;
	font-weight:thin;
}
.author{
	text-align:right;
	font-style:italic;
}
